body {
  text-align: center;
  font-family: "Xanh Mono", monospace;
}

h1 {
  color: blue;
}

p {
  color: darkolivegreen;
  text-align: center;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  color: red;
}

#todays-challenge {
  color: fuchsia;
  font-weight: bold;
  font-size: 30px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50px;
}
