body {
  text-align: center;
  background-color: aliceblue;
}

h1 {
  color: blue;
  font-family: "Oswald", sans-serif;
}

p {
  color: blueviolet;
  text-align: center;
  font-family: "Fascinate", cursive;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
