body {
  text-align: center;
  background-color: aliceblue;
}

h1 {
  color: blue;
}

p {
  color: darkolivegreen;
  text-align: center;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
